* {
  font: inherit;
  box-sizing: inherit;
}

:root {
  --menu-box-shadow: 0 0 0 0.5px rgba(0, 0, 0, .25), 0 2px 11px rgba(0, 0, 0, .3);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #3c4043;
  background: #fff;
  box-sizing: border-box;
  -webkit-user-select: none;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background: #1f2020;
  }
}

@media (prefers-color-scheme: dark) {
  .bookmarks {
    background: #3c3c3c;
    border-bottom: 1px solid #454746;
  }
}

ul {
  list-style: none;
}

.bookmarks {
  display: flex;
}

#bookmarks-bar {
  margin-right: auto;
}

#other-bookmarks > div > ul > li:not(:last-child) {
  display: none;
}

.bookmarks ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 4px 6px;
}

.bookmarks ul li {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bookmarks .wrap.wrap-is-close {
  display: none;
}

.bookmarks li a {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 142px;
  letter-spacing: .004em;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
  padding: 5px 6px;
  margin: 0 2px;
  border-radius: 99em;
  cursor: pointer;
  transition: background .3s ease;
}

.bookmarks li a:focus {
  outline: none;
}

.bookmarks li a:hover, .bookmarks li a:focus {
  background: #edeeee;
}

.bookmarks li a:hover:active, .bookmarks li a.open {
  background: #e1e2e2;
  transition: none;
}

@media (prefers-color-scheme: dark) {
  .bookmarks li a:hover, .bookmarks li a:focus {
    background: #35363a;
  }

  .bookmarks li a:hover:active, .bookmarks li a.open {
    background: #505154;
  }
}

.bookmarks li .icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-size: 100% 100%;
  margin-right: 8px;
  position: relative;
  top: -1px;
}

.folder.open + div {
  position: absolute;
  background: #fff;
  padding: 10px 0;
  z-index: 100;
  border-radius: 10px;
  box-shadow: var(--menu-box-shadow);
  top: calc(100% + 4px);
  left: 2px;
}

#other-bookmarks .folder.open + div {
  left: auto;
  right: 2px;
}

@media (prefers-color-scheme: dark) {
  .folder.open + div {
    background: #292a2d;
  }
}

.folder.open + div .folder.open + div {
  left: 50px;
  top: calc(100% + 4px);
}

#other-bookmarks .folder.open + div .folder.open + div {
  left: auto;
  right: 50px;
}

.folder.open + div ul {
  display: block;
  padding: 0;
  min-width: 240px;
  max-width: min(calc(100vw - 32px), 400px);
}

.folder.open + div ul li {
  display: block;
}

.folder.open + div li + li {
  margin-left: 0;
}

.folder.open + div li a {
  width: 100%;
  display: block;
  padding: 4px 24px;
  border-radius: 0;
  max-width: 100%;
  transition: none;
  font-size: 13px;
  margin: 0;
}

.folder.open + div li .icon {
  margin-right: 12px;
}

.folder.open + div li a:hover {
  background: #e8e8e9;
}

@media (prefers-color-scheme: dark) {
  .folder.open + div li a:hover {
    background: #3f4042;
  }
}

.folder.open + div li {
  position: relative;
}

a.empty {
  opacity: .4;
  pointer-events: none;
}

a.empty .icon {
  display: none;
}

.folder .icon {
  background-image: -webkit-image-set(
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAEKADAAQAAAABAAAAEAAAAAA0VXHyAAAAnElEQVQ4EWNgoBAwxsTEhP379y+EkZHxOsis////87CwsPQtWrToKTFmMwE1rwQqvAfU+A+EgQYp/vnz50lWVhYPMQYwRkVF/V+2bBkjsuLo6OgZQMPSkcVwskEGYJNMSkrixSaOLAbSC3YBsiCpbBaQhuLiYlL1gdX39vYyMJGlE0nTqAEMDOBYePLkCVKwkMYEG7ByJSg1D1UAADSbNeenulTvAAAAAElFTkSuQmCC) 1x,
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAIKADAAQAAAABAAAAIAAAAACshmLzAAAA/klEQVRYCWNgGAUDHAKM0dHRnkA3zPr//78MHrd8Z2RkXKWqqprW0NDwC486kqWYiLAcZCgn0IHxt2/fbibZBgIaGKOiov6D1CxbtowRl9q4uDizP3/+HAPJs7CwWC1atOgULrWkihPlAJChwKjqBIZCGakW4FIPjNInQLk0UBQQBYDxXwvUtBCo+DtRGggogqa5WUSHAAHzSJaGRT3RIUCyDURqgIcAkeqprmzAQ4AF5qXi4mIYky50b28v2J4BD4FRB4yGwGgIjIbAaAjA64InT0ANFPqDAY8CFlDbDNQ8WrlyJd29D7IbFAJp0AYiXR0AtTONrpaOWjYoQwAAC6BINlFJu5AAAAAASUVORK5CYII=) 2x
  );
}

@media (prefers-color-scheme: dark) {
  .folder .icon {
    background-image: -webkit-image-set(
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAEKADAAQAAAABAAAAEAAAAAA0VXHyAAAAhUlEQVQ4EWNgoBAw/v//PwxoRggQX4eaxQOk+xgZGZ9C+XgpJqDsSiC+B8T/oFgRSD8BGgwyiDAAKvyPrgooNAMkTgxgAClCNwDEBwrzYhNHFgPpBYUBVgOQFeJjs4Aki0vK8KnBKdfb08UACkSKwKgBDAzgWPjy5QvZAUlxOiDbZqppBADD9FXo0IZu2gAAAABJRU5ErkJggg==) 1x,
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAIKADAAQAAAABAAAAIAAAAACshmLzAAAAzElEQVRYCWNgGAUDHQL////3BOLHQIwPfANKLgBiNqq7F2goIcuRHdZJCweALcBnMFCBGRD/gWIzfGpJlgPbDiQIaQQq6YSppRINCnlPBphhRDiADagWlA5A6YFa4DEjyCSQ5YxAQMgR1JSH2ctETUPJMQseAuRopoaeAQ8BFpgvikvKYEy60L09XWB7BjwERh0wGgKjITAaAqMhAK8Lvnz5Qpc6AN2SAY8CUHvgMdBVMuguoxP/CSgE0oD4CZ0sRLYGZCfI7lEwwkMAAK3HSSeocPB2AAAAAElFTkSuQmCC) 2x
    );
  }
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  position: absolute;
  white-space: nowrap;
  z-index: 200;
  background: #fff;
  padding: 10px 0;
  font-size: 13px;
  border-radius: 10px;
  box-shadow: var(--menu-box-shadow);
}

@media (prefers-color-scheme: dark) {
  .menu {
    background: #292a2d;
  }
}

.menu a {
  display: block;
  color: inherit;
  width: 100%;
  padding: 4px 24px;
  text-decoration: none;
}

.menu .icon {
  margin-right: 12px;
}

.menu a:hover {
  background: #e8e8e9;
}

@media (prefers-color-scheme: dark) {
  .menu a:hover {
    background: #3f4042;
  }
}
