html, body {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
    overflow: hidden !important;
    height: 100% !important;
    width: 100% !important;
    background: #fff !important;
}
